.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons__dot {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 95px;
  bottom: 20px;
  border-radius: 50%;
  background-color: tomato;
}
